{% extends 'base.html' %} 
{% block title %} {% endblock title %}
{% block content %}
  <h1>Performance</h1>
  <div>
    {% if error_message %}
      <p class="ui red header">
	{{ error_message }}
      </p>
    {% else %}
      {{ df | safe }}
    {% endif %}
    <hr>
    {{ df2 | safe }}
    
    <form action="" method="POST" class="ui form mtop">
      {% csrf_token %}
	  <div class="field">
	      <label>Choose a chart type: </label>
	      <div class="ui selection dropdown">
		  <input type="hidden" name="sales">
		  <i class="dropdown icon"></i>
		  <div class="default text">----</div>
		  <div class="menu">
		      <div class="item" value="bar">Bar plot</div>
		      <div class="item" value="line">Line plot</div>
		      <div class="item" value="count">Count plot</div>
		  </div>
	      </div>
	  </div>
	  <div class="field">
	      <div class="two fields">
		  <div class="field">
		      <label>Date from: </label>
		      <input type="date" name="date_from">
		  </div>
		  <div class="field">
		      <label>Date to: </label>
		      <input type="date" name="date_to">
		  </div>
	      </div>
	  </div>
	  <div class="block-center">
	      <button class='ui primary button' type='submit'>Select</button>
	  </div>
      </form>
  </div>

{% endblock content %}
